form{
    text-align: center;
    box-shadow: 2px 2px 2px 2px;
    border-radius: 7px;
    margin-left:38%;
    margin-right: 38%;
    padding: 10px;
    margin-top: 5%;
}
img{
    margin-left: 30px;
}
h1,p{
    text-align: left;
}
input{
width: 300px;
height: 40px;
padding: 5px;
}
.a{
    margin-right: 60%;
}
button{
    background-color: #0a66c2;
    color: white;
    padding: 15px 134px;
    border-radius: 50px;
    font-weight: bolder;
    font-size: medium;
}
p{
    text-align: center;
}
.a1{
    text-decoration: none;
}
